<div class="limiter">
  <div class="container-login100" style="background-image: url('/assets/bg-01.jpg');">
    <div class="wrap-login100 p-t-30 p-b-50">
      <span class="login100-form-title p-b-41">
        Account Login
      </span>
      <%= form_for :session, url: login_path, html: {class: "login100-form validate-form p-b-33 p-t-5"} do |f| %>
        <div class="container-login100-form-btn m-t-32">
          <% flash.each do |key, value| %>
            <div class="row">
              <div class="alert alert-<%= key %>">
                <%= value %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="wrap-input100 validate-input" data-validate = "Enter email">
          <%= f.email_field :email, placeholder: "Enter your email", class: "input100" %>
          <span class="focus-input100" data-placeholder="&#xe82a;"></span>

        </div>

        <div class="wrap-input100 validate-input" data-validate="Enter password">
          <%= f.password_field :password, placeholder: "Enter your password", class: "input100" %>
          <span class="focus-input100" data-placeholder="&#xe80f;"></span>
        </div>

        <div class="container-login100-form-btn m-t-32">
          <%= f.submit 'login', class: 'login100-form-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
