<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
  <div class="sb-sidenav-menu">
    <div class="nav">
      <div class="sb-sidenav-menu-heading">Core</div>
      <a class="nav-link" href="<%= admin_root_path %>">
        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
        Order
      </a>
    </div>
  </div>
  <div class="sb-sidenav-footer">
    <div class="small">Logged in as:</div>
    <%= current_admin_user.email %>
  </div>
</nav>
