<%= form_for(order, method: 'PUT', :url => {:controller => 'admin/orders', action: action_type}) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :status, class: 'form-check-label' %>
    <%= f.select(:status, options_for_select(Order.statuses.collect {|s| [s.first.capitalize, s.first]}, order.status), {}, {class: "form-control"} ) %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
