<div class="row">
  <div class="col-md-5">
    <%= render 'form', order: @order, action_type: "update" %>
  </div>
</div>

<%= link_to 'Show', admin_order_path(@order) %> |
<%= link_to 'Back', admin_orders_path %>
