<p id="notice"><%= notice %></p>
<%= form_tag(admin_orders_path, method: 'get') do %>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Status</label>
        <div class="col-sm-10"><%= select_tag('search[status]', options_for_select(Order.statuses.collect {|s| [s.first.capitalize, s.first]}, params['search'].try(:[], 'status')), include_blank: true, class: 'form-control') %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10"><%= text_field_tag 'search[email]', params['search'].try(:[], 'email'), class: 'form-control' %></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="actions">
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
<br>
<%= paginate @orders, window: 2 %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Email</th>
      <th>Status</th>
      <th>Created at</th>
      <th colspan="2">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.user_email %></td>
        <td><%= order.status %></td>
        <td><%= order.created_at %></td>
        <td><%= link_to 'Show', admin_order_path(order) %></td>
        <td><%= link_to 'Edit', edit_admin_order_path(order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @orders, window: 2 %>
