<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @order.user_email %>
  <br>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_admin_order_path(@order) %> |
<%= link_to 'Back', admin_orders_path %>
