Your order's status has been change!

Order details
--------------------------
Status: <%= @order.status %>
Amount: <%= @order.amount %>
Created: <%= @order.created_at %>
--------------------------
<% @order.order_details.each.with_index(1) do |o_detail, index| %>
  <%= index %>)
    + Product name: <%= o_detail.product.name %>
    + Unit Price: <%= o_detail.unit_price %>
    + Quanlity: <%= o_detail.quanlity %>
    + Total: <%= o_detail.amount %>
<% end %>
