<p>Your order's status has been change!</p>
<p>
  Order details<br>
  --------------------------
  </p>
  <p>Status: <b><%= @order.status %></b></p>
  <p>Amount: <b><%= @order.amount %></b></p>
  <p>Created: <b><%= @order.created_at %></b></p>
  <table>
    <thead>
      <tr>
        <th>Product name</th>
        <th>Unit Price</th>
        <th>Quanlity</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <% @order.order_details.each do |o_detail| %>
        <tr>
          <td><%= o_detail.product.name %></td>
          <td><%= o_detail.unit_price %></td>
          <td><%= o_detail.quanlity %></td>
          <td><%= o_detail.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
</p>
