<!DOCTYPE html>
<html>
  <head>
    <title>OrderSystem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sb-nav-fixed">
    <%= render 'layouts/shared/header' %>
    <div id="layoutSidenav">
      <div id="layoutSidenav_nav">
        <%= render 'layouts/shared/navbar' %>
      </div>
      <div id="layoutSidenav_content">
        <main>
          <div class="container-fluid">
            <%= generate_breadcrum(@bcrum_title, @bcrum_detail).html_safe %>
            <%= yield %>
          </div>
        </main>
        <%= render 'layouts/shared/footer' %>
      </div>
    </div>
  </body>
</html>
